.form-buttons
  = f.submit "Submit", class: "button secondary"
  = link_to "Cancel", cancel_path, class: "button"
  - if can? :destroy, f.object
    = link_to "Delete", object, confirm: "Are you sure?", method: "delete"
