%h3= render_crumbs

%h1 <%= singular_table_name.titleize %>
= link_to "Edit", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "button button-inverse"

<% attributes.each do |attribute| -%>
.row
  .span2
    %h4 <%= attribute.human_name.titleize %>
  .span10
    %span= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%> 
