/*
   --------------------------------------------------------------------------
   Table of Contents
   --------------------------------------------------------------------------
    * Colors

    * Header

    * Grid

    * Content

    * Input Fields

    * Tables

    * Buttons

    * Social Icons

 */


/* Colors
   -------------------------------------------------------------------------- */
$blue: #519dbe;
$white: #fff;
$light-orange: #ff8000;
$dark-orange: #e37302;
$grey: #999;


/* Fonts
   -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/ZvcMqxEwPfh2qDWBPxn6nmB7wJ9CoPCp9n30ZBThZ1I.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/ZvcMqxEwPfh2qDWBPxn6nhAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xM6Eyu0BCqAfob_z3hhzRFzr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/jIXlqT1WKafUSwj6s9AzV6XnXbwdDC8wAz6IIzmCDUN2IY20qb3OO3nusUf_NB58.woff) format('woff');
}


/* Header
   -------------------------------------------------------------------------- */
header[role="banner"] {
  border-bottom: 1px solid #3181A3;
  background: $light-orange;
  /* Old browsers */
  background: -moz-linear-gradient(top, $light-orange 0%, $dark-orange 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $light-orange), color-stop(100%, $dark-orange));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $light-orange 0%, $dark-orange 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $light-orange 0%, $dark-orange 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $light-orange 0%, $dark-orange 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $light-orange 0%, $dark-orange 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$light-orange', endColorstr='$dark-orange',GradientType=0 );
  /* IE6-9 */
}

header[role="banner"] .masthead .category-heading {
  font-family: 'Open Sans Condensed', serif;
  font-weight: bold;
}

header[role="banner"] .masthead {
  background-image: url("/assets/flings-heading-gear.png");
}

header[role="banner"] .container {
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("/assets/header-ellipse.png") center top no-repeat;
}

header[role="banner"] .container {
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("/assets/header-ellipse.png") center top no-repeat;
}

.logo {
  display: block;
  height: 24px;
  width: 200px;
  background: url("/assets/vmware-labs-logo.png") no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/* Grid
   -------------------------------------------------------------------------- */
.row {
  width: 100%;
  margin-bottom: 20px;
}


/* Content
   -------------------------------------------------------------------------- */
.content {
  background: $white;
}


/* Input Fields
   -------------------------------------------------------------------------- */
input[type="checkbox"] {
  vertical-align: middle;
}

[class*="grid"].search #search-field {
  width: auto;
  vertical-align: middle;
}

[class*="grid"].search .button {
  margin-bottom: 0;
}

/* Tables
   -------------------------------------------------------------------------- */
.table-condensed th {
  background: $grey;
}

th {
  background: $grey;
}


/* Buttons
   -------------------------------------------------------------------------- */
.button {
  vertical-align: middle;
}

td a.button{
  margin-bottom: 0;
  float: left;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


/* Social Icons
   -------------------------------------------------------------------------- */
.social-icons [class*="icon-"]:before {
  background-color: $blue;
  color: #fff;
  font-size: 1.4em;
  border-radius: 50em;
  padding: 8px;
  margin-right: 4px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.social-icons [class*="icon-facebook"]:before {
  padding: 8px 13px;
}

.social-icons [class*="icon-github"]:before {
  padding: 9px 10px;
}