%header{:role => "banner"}
  .container
    %span.menu-btn
    %a.logo{:href => "http://labs.vmware.com/", :title => "VMware Labs"} VMware Labs
    %nav
      %ul.cf
        %li
          %a Home
        %li
          %a News
        %li
          %a Policy
        %li
          %a FAQ
        %li
          %a Profile
    .masthead
      %a.category-heading{:href => "/ideas"} VMware Innovation Contest
      .category-sub
        August 25th - October 31st
      / .category-sub
    / .masthead
  / .container
/ header